@font-face {
  font-family: "SeoulHangangCBL";
  font-weight: 400;
  src: url("../assets/font/SeoulHangangCBL.woff");
}

@font-face {
  font-family: "SeoulHangangEB";
  font-weight: 400;
  src: url("../assets/font/SeoulHangangEB.woff");
}
